<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace 实现类的全路径 类名+包名-->
<mapper namespace="com.mapper">

    <insert id="insFlower">
        insert into flower values(default , #{name}, #{address})
    </insert>
    <select id="page" resultType="com.pojo.Flower" parameterType="com.pojo.PageInfo">
        select  * from flower limit #{pageStart},#{pageSize}
    </select>

    <select id="pageCount"  resultType="int">
        select count(*) from flower
    </select>
    <select id="selAll" resultType="com.pojo.Flower">
        select * from flower
    </select>
    <select id="selCount" resultType="int">
        select count(*) from flower
    </select>

    <select id="selMap" resultType="com.pojo.Flower" parameterType="map">
        select * from flower limit #{pageNum},#{pageSize}
    </select>

    <select id="selById" parameterType="int" resultType="com.pojo.Flower">
        select * from flower where id=#{param1}
    </select>
    <select id="selById2" parameterType="com.pojo.Flower" resultType="com.pojo.Flower">
        select * from flower where id=${id}
    </select>
    <select id="selById3" parameterType="map" resultType="com.pojo.Flower">
        select * from flower where id=#{id}
    </select>
</mapper>